#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10 - Insert a markdown cell to list Objectives

***Objectives:***
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Tools for Data Science
- Creating ordered and unordered lists in markdown cell
- Creating table in markdown cell

#### Exercise 4 - Create a markdown cell to list data science languages

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

#### Exercise 5 - Create a markdown cell to list data science libraries

##### Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Keras
3. Pandas
4. Numpy
5. Matplotlib

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| Visual Studio Code |
| Rstudio            |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

#### Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
int(200/60)

3

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Harsh Gandhi